# Direct production requirements for the Python 3.12 non-imaging runtime.
setuptools==80.9.0
numpy>=1.24,<2
scipy>=1.10,<=1.15.3
matplotlib>=3.7.1,<3.9
pandas>=2.0,<2.2
h5py>=3
PyYAML
astropy
healpy
mhealpy
threeML
histpy
psutil
py7zr
astro-gdt @ git+https://github.com/BurstCube/gdt-core.git@7ca78cc2166d30be02d575dbee063f86d8714f34
bctools @ git+https://gitlab.com/burstcube/bc-tools.git@c849285aca3dbc3788879d4c03a2d9852fca82b2
cosipy.nonimaging @ git+https://github.com/cositools/cosipy.nonimaging.git@3f62bcb03d60dbecfa01b05040bdbf413840ffe6
